.DnnModule-40FingersPortalList{
	container-type: inline-size;
}

.DnnModule-40FingersPortalList,
.DnnModule-40FingersPortalList * {
	box-sizing: border-box;
}

.DnnModule-40FingersPortalList img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.DnnModule-40FingersPortalList textarea {
	width: 500px;
	height: 200px;
}

.DnnModule-40FingersPortalList .PortalListItems {
	padding: 2em 0 0;
	display: grid;
	column-gap: 1em;
	grid-template-columns: 1fr;
}

.DnnModule-40FingersPortalList .PortalListItem > a {
	display: flex;
	flex-direction: column;
	
}

.DnnModule-40FingersPortalList .plText {
	font-size: 90%;
	padding: 0.5em;
}


/* Icons and Text */

.DnnModule-40FingersPortalList .IconsText .PortalListItem {
	list-style: none;
	text-align: center;
	padding: 0 0 4em;
}

.DnnModule-40FingersPortalList .IconsText .plImg {
	overflow: hidden;
	background: #eee;
	border: solid 1px #fff;
	padding: 5px;
	flex-grow: 1;
	aspect-ratio: 3/2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.DnnModule-40FingersPortalList .IconsText .plImg img[src=""] {
	display: none;
}

#Body .DnnModule-40FingersPortalList img {
	margin: 0;
	padding: 0;
	border: none;
}


/* Responsive */

@container (min-width: 480px) and (max-width: 767px) {
	.DnnModule-40FingersPortalList .IconsText  {
		grid-template-columns: repeat(2, 1fr);
	}

	.DnnModule-40FingersPortalList .IconsTextSm {
		grid-template-columns: repeat(3, 1fr);
	}
}

@container (min-width: 768px) and (max-width: 979px) {
	.DnnModule-40FingersPortalList .IconsText  {
		grid-template-columns: repeat(3, 1fr);
	}

	.DnnModule-40FingersPortalList .IconsTextSm  {
		grid-template-columns: repeat(4, 1fr);
	}
}

@container (min-width: 980px) {
	.DnnModule-40FingersPortalList .IconsText {
		grid-template-columns: repeat(4, 1fr);
	}

	.DnnModule-40FingersPortalList .IconsTextSm {
		grid-template-columns: repeat(6, 1fr);
	}
}
